:root {
    // Primary 
	--color-primary: #242628;
	--color-primary-rgb: 36,38,40;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #202123;
	--color-primary-tint: #3a3c3e;

    // Secondary
    --color-secondary: #8892b0;
	--color-secondary-rgb: 136,146,176;
	--color-secondary-contrast: #000000;
	--color-secondary-contrast-rgb: 0,0,0;
	--color-secondary-shade: #78809b;
	--color-secondary-tint: #949db8;

	// Success
	--color-success: #659728;
	--color-success-rgb: 101,151,40;
	--color-success-contrast: #ffffff;
	--color-success-contrast-rgb: 255,255,255;
	--color-success-shade: #598523;
	--color-success-tint: #74a13e;

	// Card
	--color-card: #181b20;
	--color-card-rgb: 24,27,32;
	--color-card-contrast: #ffffff;
	--color-card-contrast-rgb: 255,255,255;
	--color-card-shade: #15181c;
	--color-card-tint: #2f3236;

    // Font
    --font-family: 'Inter', sans-serif;
}