:root {
    // Primary 
	--color-primary: #1da1f2;
	--color-primary-rgb: 29,161,242;
	--color-primary-contrast: #ffffff;
	--color-primary-contrast-rgb: 255,255,255;
	--color-primary-shade: #1a8ed5;
	--color-primary-tint: #34aaf3;

    // Secondary
    --color-secondary: #8892b0;
	--color-secondary-rgb: 136,146,176;
	--color-secondary-contrast: #000000;
	--color-secondary-contrast-rgb: 0,0,0;
	--color-secondary-shade: #78809b;
	--color-secondary-tint: #949db8;

	// Dark
	--color-dark: #000000;
	--color-dark-rgb: 0,0,0;
	--color-dark-contrast: #ffffff;
	--color-dark-contrast-rgb: 255,255,255;
	--color-dark-shade: #000000;
	--color-dark-tint: #1a1a1a;

	// Card
	--color-card: #14212f;
	--color-card-rgb: 20,33,47;
	--color-card-contrast: #ffffff;
	--color-card-contrast-rgb: 255,255,255;
	--color-card-shade: #121d29;
	--color-card-tint: #2c3744;

    // Font
    --font-family: 'Inter', sans-serif;
}