$default-linear-gradient: linear-gradient(to left, rgba(var(--color-success-rgb), 0.1), rgba(var(--color-success-rgb), 0.2));

// Hero
.hero-section {
    position: relative;
    padding: 13rem 0;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $default-linear-gradient;
    }

    .hero-subtext {
        position: relative;
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--color-success);
    }

    .hero-title {
        position: relative;
        font-size: 4.2rem;
        line-height: 1.2;
        margin-top: 1rem;
        margin-bottom: 0;

        @include breakpoint("sm") {
            font-size: 2.2rem;
        }
    }
    
    .hero-text {
        position: relative;
        font-size: 1.2rem;
        margin-bottom: 2rem;

        @include breakpoint("sm") {
            font-size: 1rem;
        }
    }
}

.section {
    padding: 4rem 0;
}
